@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

:root {
    --primary-color: #3A5A40;
    --secondary-color: #000000;
    --accent1-color: #A3B18A;
    --accent2-color: #DAD7CD;

    --heading-font: 'Kanit', serif;
    --paragraph-font: 'Montserrat', 'serif';

    --nav-background-color: #344E41;
    --nav-link-color: #a4ac86;
    --nav-hover-link-color: #fefae0; 
    --nav-hover-background-color: #bc6c25;

}

* {
    width: 900px;
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
}

nav {
    align-items:center ;
    display: flex;
    color: var(--secondary-color);
    font-size: 1.2rem;

}

nav a { 
    justify-content: space-around;
    width: auto;
    color: var(--secondary-color);
    display: block;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    max-height: 50px;
}

nav a:link, nav a:visited {
    color: var(--accent2-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

header {
    grid-template-columns: repeat(auto-fit, minmax(25px, .15fr));
}

header, footer {
    display: grid;
    max-width: 900px;
    padding: 20px;
    background-color: var(--primary-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 1rem;
}

.history h2 {
    left: 420px;
    top: 920px;
    position: absolute;
    justify-content: center;
    width: 100px;
    height: 50px;
    display: grid;
    
}

.history img {
    align-self: center;
    height: 200px;
    position: relative;
}

.history p {
    margin: 2rem;
}

.history {
    padding: 2rem;
    display: flex;
    background-color:#A3B18A;
}

header img {
    float: right;
    width: 7rem;    
}

.hero {
    position: relative;
    }

.hero h1 {
    position: absolute;
    background-color: rgba(126, 133, 125, .7);
    top: 200px;
    display: grid;
    justify-content: center;
    padding: 1rem;
}

article {
    width: 85%;
    position: absolute;
    left: 67.5px;
    background-color: rgba(126, 133, 125, .7);
    top: 350px;
    padding: 1rem;

}

.hero_img {
    display: block;
    width: 100%;
    height: auto;

}

.adventure {
    border-top: 4px solid ;
    background-color: #A3B18A;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.adventure h2 {
    padding: 1rem;
    justify-content: center;
    display: grid;
    
}

.adventure figure {
    width: 400px;
    flex-basis: 20%;
    margin: 1rem;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    
}


.adventure img {
    align-self: center;
    width: 250px;
    margin: 1rem;
}

article img {
    float: right;
    width: 10rem;
    margin: 10px;
    
}

a img {
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: end;
    width: 40px;
    text-decoration: none;
    
}

footer {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
}


footer p {
    font-size: medium;
    padding: 1rem;
    justify-content: center;
    display: inline-block;
    width: 840px;
    color: var(--accent2-color);
    ;
}

