nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: inline;
    padding: 20px;
}

h1 {
    color:steelblue;
    font-family: Arial, Helvetica, sans-serif;

}

main img {
    max-width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: auto;
    min-height: 200px;
    margin: 5%;
    border: 5px solid steelblue;
    background-color: rgb(119, 166, 204);
    backdrop-filter: blur(5px);
    padding: 20px;
    color: black;

}
aside img {
    width: 200px;
    height: auto;
    float: left;
    margin: 10px;
}

footer {
    margin: 15px;
    border-top: 3px solid steelblue;
    text-align: center;
}
